/*CSS Selector*/
body {
    /*CSS Decleration*/
    /*CSS Rule property:value; */
    
}

header {
display: flex;
}

.headerLogo {
  
}

.navigationList {
    display: flex;
    flex-direction: column;

}

.kontaktOgProsjekt {
    display: flex;
}

.prosjekter {
   
}

.kontakt {
    margin: 0px 0px 0px 100px
}
